body {
  font-family: Arial;
  color: black;
  text-align: center;
}

.body-container {
  margin: 0;
  padding: 0;
}

.header {
  background: dodgerblue;
  margin: 0;
  padding: 0;
}

#container {
  background: rgba(30, 144, 255, 0.2);
  height: 100%;
  width: 100%;
  border: 0.05em solid rgba(30, 144, 255, 0.6);
  border-radius: 2%;
  overflow: hidden;
  margin: 1.5em auto;
}

/* @-webkit-keyframes move {
  0% {
    margin-left: -25em;
  }
  100% {
    margin-left: 30em;
  }
}

#box {
  border-radius: 2%;
  height: 14em;
  width: 20em;
  margin: 0em -25em;
  -webkit-animation-name: move;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
}

#box:hover {
  -webkit-animation-play-state: paused;
} */

.container {
  margin: 0% 5% 0% 5%;
  padding: 0;
}

.col-md-9 {
  padding: 0;
}

.header img {
  width: 13%;
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.5%;
  border-color: #18b0ef;
  margin: 4.5% 0% 0% 3%;
  z-index: 1;
}

.img-thumbnail {
  border-color: rgba(30, 144, 255, 0.6);
}

#dyan-details .form-control {
  border-color: rgba(30, 144, 255, 0.6);
}

.form-control::placeholder {
  color: hotpink;
  opacity: 0.5;
}

.dyan2, .dyan3, .typewriter {
  display: none;
}

.clickme {
  color: dodgerblue;
  text-decoration: underline;
}

svg {
  display: inline;
  font: 6.5em 'Montserrat';
}

text {
  color: white;
  margin-top: 0%;
}

hr {
  border-color: hotpink;
  border-style: dotted;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: snow;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: orange;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: hotpink;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: purple;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: red;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
